$icomoon-font-family: "devjk" !default;
$icomoon-font-path: "fonts" !default;

$jcon-eye-slash: unquote('"\\e948"');
$jcon-wheel-lifebuoy: unquote('"\\e949"');
$jcon-file: unquote('"\\e945"');
$jcon-folder: unquote('"\\e946"');
$jcon-play-circle: unquote('"\\e947"');
$jcon-briefcase-2: unquote('"\\e943"');
$jcon-alarm-clock: unquote('"\\e926"');
$jcon-arrow-up-right: unquote('"\\e928"');
$jcon-bell-ringing: unquote('"\\e92a"');
$jcon-plus: unquote('"\\e92c"');
$jcon-star: unquote('"\\e92e"');
$jcon-camera-plus: unquote('"\\e921"');
$jcon-clock-fast-forward: unquote('"\\e922"');
$jcon-user-tick-check-2: unquote('"\\e923"');
$jcon-user: unquote('"\\e924"');
$jcon-users-2: unquote('"\\e925"');
$jcon-edit: unquote('"\\e932"');
$jcon-circle-info: unquote('"\\e91f"');
$jcon-row-vertical: unquote('"\\e91d"');
$jcon-settings-gear: unquote('"\\e91e"');
$jcon-x: unquote('"\\e916"');
$jcon-twitter: unquote('"\\e916"');
$jcon-candle: unquote('"\\e913"');
$jcon-play-cropped: unquote('"\\e905"');
$jcon-minus-cirlce: unquote('"\\e911"');
$jcon-flash: unquote('"\\e90c"');
$jcon-lock: unquote('"\\e910"');
$jcon-bill: unquote('"\\e90d"');
$jcon-color-swatch: unquote('"\\e90e"');
$jcon-programming-arrow: unquote('"\\e90f"');
$jcon-loading: unquote('"\\e90b"');
$jcon-note-favorite: unquote('"\\e90a"');
$jcon-arrow-left-2: unquote('"\\e908"');
$jcon-arrow-right-2: unquote('"\\e909"');
$jcon-redo: unquote('"\\e906"');
$jcon-undo: unquote('"\\e907"');
$jcon-arrow-right: unquote('"\\e904"');
$jcon-briefcase1: unquote('"\\e901"');
$jcon-empty-wallet: unquote('"\\e902"');
$jcon-location: unquote('"\\e903"');
$jcon-folder-add: unquote('"\\e900"');
$jcon-share: unquote('"\\eca4"');
$jcon-add-square: unquote('"\\eca2"');
$jcon-minus-square: unquote('"\\eca3"');
$jcon-drag: unquote('"\\eca0"');
$jcon-trash: unquote('"\\eca1"');
$jcon-add-circle: unquote('"\\ec9f"');
$jcon-slash: unquote('"\\ec9e"');
$jcon-flag: unquote('"\\ec98"');
$jcon-arrow-down: unquote('"\\e929"');
$jcon-arrow-left: unquote('"\\e92d"');
$jcon-building-4: unquote('"\\e983"');
$jcon-calendar: unquote('"\\e993"');
$jcon-clock-1: unquote('"\\e9c3"');
$jcon-copy: unquote('"\\e9e5"');
$jcon-edit-2: unquote('"\\ea23"');
$jcon-eye: unquote('"\\ea41"');
$jcon-hierarchy: unquote('"\\eaaf"');
$jcon-lamp-charge: unquote('"\\eac8"');
$jcon-message-text-1: unquote('"\\eb10"');
$jcon-message: unquote('"\\eb14"');
$jcon-more: unquote('"\\eb37"');
$jcon-paperclip-2: unquote('"\\eb60"');
$jcon-profile-2user: unquote('"\\eb85"');
$jcon-search-normal-1: unquote('"\\ebd5"');
$jcon-sms: unquote('"\\ec10"');
$jcon-textalign-left: unquote('"\\ec35"');
$jcon-times: unquote('"\\ec43"');
$jcon-trello: unquote('"\\ec4b"');
$jcon-user-tick: unquote('"\\ec62"');
$jcon-x1: unquote('"\\e936"');
$jcon-twitter1: unquote('"\\e936"');
$jcon-wine: unquote('"\\e91c"');
$jcon-glass: unquote('"\\e91c"');
$jcon-drink: unquote('"\\e91c"');
$jcon-smoking_rooms: unquote('"\\e918"');
$jcon-book-open: unquote('"\\e952"');
$jcon-local_grocery_store: unquote('"\\e91b"');
$jcon-add_shopping_cart: unquote('"\\e919"');
$jcon-download: unquote('"\\e91a"');
$jcon-thumb_down: unquote('"\\e930"');
$jcon-thumb_up_alt: unquote('"\\e931"');
$jcon-local_grocery_store1: unquote('"\\e920"');
$jcon-add_shopping_cart1: unquote('"\\e933"');
$jcon-download1: unquote('"\\e934"');
$jcon-open-book: unquote('"\\e953"');
$jcon-share1: unquote('"\\e93b"');
$jcon-reload: unquote('"\\e912"');
$jcon-reload1: unquote('"\\e93a"');
$jcon-man-woman: unquote('"\\e92f"');
$jcon-book-alt2: unquote('"\\e951"');
$jcon-linkedin2: unquote('"\\eaca"');
$jcon-phone: unquote('"\\e94a"');
$jcon-skype: unquote('"\\e935"');
$jcon-whatsapp: unquote('"\\e942"');
$jcon-telegram: unquote('"\\e944"');
$jcon-heartbeat: unquote('"\\e927"');
$jcon-transgender-alt: unquote('"\\e92b"');
$jcon-facebook-filled: unquote('"\\e94b"');
$jcon-github: unquote('"\\e94c"');
$jcon-linkedin-filled: unquote('"\\e94d"');
$jcon-youtube-filled: unquote('"\\e950"');
$jcon-facebook: unquote('"\\e917"');
$jcon-facebook-f: unquote('"\\e917"');
$jcon-pause: unquote('"\\e914"');
$jcon-play: unquote('"\\e915"');
$jcon-thumbs-o-up: unquote('"\\e93e"');
$jcon-thumbs-o-down: unquote('"\\e940"');
$jcon-thumbs-up: unquote('"\\e93f"');
$jcon-thumbs-down: unquote('"\\e941"');
$jcon-heart-o: unquote('"\\e93c"');
$jcon-heart: unquote('"\\e93d"');
$jcon-facebook1: unquote('"\\e937"');
$jcon-facebook-f1: unquote('"\\e937"');
$jcon-pause1: unquote('"\\e938"');
$jcon-play1: unquote('"\\e939"');

