.confirm {
    width: 619px;
    max-width: 100%;

    .cancel-button {
        width: 118px;
        color: var(--solidie-color-text-50);
        border-color: var(--solidie-color-text-40);
        background-color: white;

        &:hover,
        &:focus {
            border-color: var(--solidie-color-text-40);
            color: var(--solidie-color-text);
            outline: none;
            box-shadow: none;
        }
    }

    .action-button {
        width: 224px;
        color: white;

		&.danger {
			background-color: var(--solidie-color-error);
			border-color: var(--solidie-color-error);
		}

		&.normal {
			background-color: var(--solidie-color-primary);
			border-color: var(--solidie-color-primary);
		}
    }
}
