@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?yfx5ec') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?yfx5ec') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?yfx5ec##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ch-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ch-icon-eye-slash {
  &:before {
    content: $ch-icon-eye-slash; 
  }
}
.ch-icon-wheel-lifebuoy {
  &:before {
    content: $ch-icon-wheel-lifebuoy; 
  }
}
.ch-icon-check-tick-mark {
  &:before {
    content: $ch-icon-check-tick-mark; 
  }
}
.ch-icon-file {
  &:before {
    content: $ch-icon-file; 
  }
}
.ch-icon-folder {
  &:before {
    content: $ch-icon-folder; 
  }
}
.ch-icon-play-circle {
  &:before {
    content: $ch-icon-play-circle; 
  }
}
.ch-icon-bank {
  &:before {
    content: $ch-icon-bank; 
  }
}
.ch-icon-briefcase-2 {
  &:before {
    content: $ch-icon-briefcase-2; 
  }
}
.ch-icon-alarm-clock {
  &:before {
    content: $ch-icon-alarm-clock; 
  }
}
.ch-icon-announcement {
  &:before {
    content: $ch-icon-announcement; 
  }
}
.ch-icon-arrow-up-right {
  &:before {
    content: $ch-icon-arrow-up-right; 
  }
}
.ch-icon-bell-ringing {
  &:before {
    content: $ch-icon-bell-ringing; 
  }
}
.ch-icon-cake {
  &:before {
    content: $ch-icon-cake; 
  }
}
.ch-icon-plus {
  &:before {
    content: $ch-icon-plus; 
  }
}
.ch-icon-star {
  &:before {
    content: $ch-icon-star; 
  }
}
.ch-icon-umbrella {
  &:before {
    content: $ch-icon-umbrella; 
  }
}
.ch-icon-camera-plus {
  &:before {
    content: $ch-icon-camera-plus; 
  }
}
.ch-icon-clock-fast-forward {
  &:before {
    content: $ch-icon-clock-fast-forward; 
  }
}
.ch-icon-user-tick-check-2 {
  &:before {
    content: $ch-icon-user-tick-check-2; 
  }
}
.ch-icon-user {
  &:before {
    content: $ch-icon-user; 
  }
}
.ch-icon-users-2 {
  &:before {
    content: $ch-icon-users-2; 
  }
}
.ch-icon-edit {
  &:before {
    content: $ch-icon-edit; 
  }
}
.ch-icon-circle-info {
  &:before {
    content: $ch-icon-circle-info; 
  }
}
.ch-icon-row-vertical {
  &:before {
    content: $ch-icon-row-vertical; 
  }
}
.ch-icon-settings-gear {
  &:before {
    content: $ch-icon-settings-gear; 
  }
}
.ch-icon-x {
  &:before {
    content: $ch-icon-x; 
  }
}
.ch-icon-twitter {
  &:before {
    content: $ch-icon-twitter; 
  }
}
.ch-icon-candle {
  &:before {
    content: $ch-icon-candle; 
  }
}
.ch-icon-play-cropped {
  &:before {
    content: $ch-icon-play-cropped; 
  }
}
.ch-icon-minus-cirlce {
  &:before {
    content: $ch-icon-minus-cirlce; 
  }
}
.ch-icon-flash {
  &:before {
    content: $ch-icon-flash; 
  }
}
.ch-icon-lock {
  &:before {
    content: $ch-icon-lock; 
  }
}
.ch-icon-bill {
  &:before {
    content: $ch-icon-bill; 
  }
}
.ch-icon-color-swatch {
  &:before {
    content: $ch-icon-color-swatch; 
  }
}
.ch-icon-programming-arrow {
  &:before {
    content: $ch-icon-programming-arrow; 
  }
}
.ch-icon-loading {
  &:before {
    content: $ch-icon-loading; 
  }
}
.ch-icon-note-favorite {
  &:before {
    content: $ch-icon-note-favorite; 
  }
}
.ch-icon-arrow-left-2 {
  &:before {
    content: $ch-icon-arrow-left-2; 
  }
}
.ch-icon-arrow-right-2 {
  &:before {
    content: $ch-icon-arrow-right-2; 
  }
}
.ch-icon-redo {
  &:before {
    content: $ch-icon-redo; 
  }
}
.ch-icon-undo {
  &:before {
    content: $ch-icon-undo; 
  }
}
.ch-icon-arrow-right {
  &:before {
    content: $ch-icon-arrow-right; 
  }
}
.ch-icon-briefcase1 {
  &:before {
    content: $ch-icon-briefcase1; 
  }
}
.ch-icon-empty-wallet {
  &:before {
    content: $ch-icon-empty-wallet; 
  }
}
.ch-icon-location {
  &:before {
    content: $ch-icon-location; 
  }
}
.ch-icon-folder-add {
  &:before {
    content: $ch-icon-folder-add; 
  }
}
.ch-icon-share {
  &:before {
    content: $ch-icon-share; 
  }
}
.ch-icon-add-square {
  &:before {
    content: $ch-icon-add-square; 
  }
}
.ch-icon-minus-square {
  &:before {
    content: $ch-icon-minus-square; 
  }
}
.ch-icon-drag {
  &:before {
    content: $ch-icon-drag; 
  }
}
.ch-icon-trash {
  &:before {
    content: $ch-icon-trash; 
  }
}
.ch-icon-add-circle {
  &:before {
    content: $ch-icon-add-circle; 
  }
}
.ch-icon-slash {
  &:before {
    content: $ch-icon-slash; 
  }
}
.ch-icon-flag {
  &:before {
    content: $ch-icon-flag; 
  }
}
.ch-icon-archive {
  &:before {
    content: $ch-icon-archive; 
  }
}
.ch-icon-arrow-down {
  &:before {
    content: $ch-icon-arrow-down; 
  }
}
.ch-icon-arrow-left {
  &:before {
    content: $ch-icon-arrow-left; 
  }
}
.ch-icon-building-4 {
  &:before {
    content: $ch-icon-building-4; 
  }
}
.ch-icon-calendar {
  &:before {
    content: $ch-icon-calendar; 
  }
}
.ch-icon-clock-1 {
  &:before {
    content: $ch-icon-clock-1; 
  }
}
.ch-icon-copy {
  &:before {
    content: $ch-icon-copy; 
  }
}
.ch-icon-dribble {
  &:before {
    content: $ch-icon-dribble; 
  }
}
.ch-icon-edit-2 {
  &:before {
    content: $ch-icon-edit-2; 
  }
}
.ch-icon-eye {
  &:before {
    content: $ch-icon-eye; 
  }
}
.ch-icon-hierarchy {
  &:before {
    content: $ch-icon-hierarchy; 
  }
}
.ch-icon-lamp-charge {
  &:before {
    content: $ch-icon-lamp-charge; 
  }
}
.ch-icon-message-text-1 {
  &:before {
    content: $ch-icon-message-text-1; 
  }
}
.ch-icon-message {
  &:before {
    content: $ch-icon-message; 
  }
}
.ch-icon-more {
  &:before {
    content: $ch-icon-more; 
  }
}
.ch-icon-paperclip-2 {
  &:before {
    content: $ch-icon-paperclip-2; 
  }
}
.ch-icon-profile-2user {
  &:before {
    content: $ch-icon-profile-2user; 
  }
}
.ch-icon-search-normal-1 {
  &:before {
    content: $ch-icon-search-normal-1; 
  }
}
.ch-icon-sms {
  &:before {
    content: $ch-icon-sms; 
  }
}
.ch-icon-textalign-left {
  &:before {
    content: $ch-icon-textalign-left; 
  }
}
.ch-icon-times {
  &:before {
    content: $ch-icon-times; 
  }
}
.ch-icon-trello {
  &:before {
    content: $ch-icon-trello; 
  }
}
.ch-icon-user-tick {
  &:before {
    content: $ch-icon-user-tick; 
  }
}
.ch-icon-x1 {
  &:before {
    content: $ch-icon-x1; 
  }
}
.ch-icon-twitter1 {
  &:before {
    content: $ch-icon-twitter1; 
  }
}
.ch-icon-world {
  &:before {
    content: $ch-icon-world; 
  }
}
.ch-icon-globe {
  &:before {
    content: $ch-icon-globe; 
  }
}
.ch-icon-internet {
  &:before {
    content: $ch-icon-internet; 
  }
}
.ch-icon-network {
  &:before {
    content: $ch-icon-network; 
  }
}
.ch-icon-world1 {
  &:before {
    content: $ch-icon-world1; 
  }
}
.ch-icon-globe1 {
  &:before {
    content: $ch-icon-globe1; 
  }
}
.ch-icon-internet1 {
  &:before {
    content: $ch-icon-internet1; 
  }
}
.ch-icon-network1 {
  &:before {
    content: $ch-icon-network1; 
  }
}
.ch-icon-local_grocery_store {
  &:before {
    content: $ch-icon-local_grocery_store; 
  }
}
.ch-icon-add_shopping_cart {
  &:before {
    content: $ch-icon-add_shopping_cart; 
  }
}
.ch-icon-download {
  &:before {
    content: $ch-icon-download; 
  }
}
.ch-icon-thumb_down {
  &:before {
    content: $ch-icon-thumb_down; 
  }
}
.ch-icon-thumb_up_alt {
  &:before {
    content: $ch-icon-thumb_up_alt; 
  }
}
.ch-icon-local_grocery_store1 {
  &:before {
    content: $ch-icon-local_grocery_store1; 
  }
}
.ch-icon-add_shopping_cart1 {
  &:before {
    content: $ch-icon-add_shopping_cart1; 
  }
}
.ch-icon-download1 {
  &:before {
    content: $ch-icon-download1; 
  }
}
.ch-icon-share1 {
  &:before {
    content: $ch-icon-share1; 
  }
}
.ch-icon-reload {
  &:before {
    content: $ch-icon-reload; 
  }
}
.ch-icon-reload1 {
  &:before {
    content: $ch-icon-reload1; 
  }
}
.ch-icon-linkedin2 {
  &:before {
    content: $ch-icon-linkedin2; 
  }
}
.ch-icon-behance {
  &:before {
    content: $ch-icon-behance; 
  }
}
.ch-icon-facebook-filled {
  &:before {
    content: $ch-icon-facebook-filled; 
  }
}
.ch-icon-github {
  &:before {
    content: $ch-icon-github; 
  }
}
.ch-icon-linkedin-filled {
  &:before {
    content: $ch-icon-linkedin-filled; 
  }
}
.ch-icon-medium {
  &:before {
    content: $ch-icon-medium; 
  }
}
.ch-icon-wordpress {
  &:before {
    content: $ch-icon-wordpress; 
  }
}
.ch-icon-youtube-filled {
  &:before {
    content: $ch-icon-youtube-filled; 
  }
}
.ch-icon-facebook {
  &:before {
    content: $ch-icon-facebook; 
  }
}
.ch-icon-facebook-f {
  &:before {
    content: $ch-icon-facebook-f; 
  }
}
.ch-icon-pause {
  &:before {
    content: $ch-icon-pause; 
  }
}
.ch-icon-play {
  &:before {
    content: $ch-icon-play; 
  }
}
.ch-icon-thumbs-o-up {
  &:before {
    content: $ch-icon-thumbs-o-up; 
  }
}
.ch-icon-thumbs-o-down {
  &:before {
    content: $ch-icon-thumbs-o-down; 
  }
}
.ch-icon-thumbs-up {
  &:before {
    content: $ch-icon-thumbs-up; 
  }
}
.ch-icon-thumbs-down {
  &:before {
    content: $ch-icon-thumbs-down; 
  }
}
.ch-icon-heart-o {
  &:before {
    content: $ch-icon-heart-o; 
  }
}
.ch-icon-heart {
  &:before {
    content: $ch-icon-heart; 
  }
}
.ch-icon-facebook1 {
  &:before {
    content: $ch-icon-facebook1; 
  }
}
.ch-icon-facebook-f1 {
  &:before {
    content: $ch-icon-facebook-f1; 
  }
}
.ch-icon-pause1 {
  &:before {
    content: $ch-icon-pause1; 
  }
}
.ch-icon-play1 {
  &:before {
    content: $ch-icon-play1; 
  }
}

