$icomoon-font-family: "crewhrm" !default;
$icomoon-font-path: "fonts" !default;

$ch-icon-world: "\e918";
$ch-icon-globe: "\e918";
$ch-icon-internet: "\e918";
$ch-icon-network: "\e918";
$ch-icon-x: "\e916";
$ch-icon-twitter: "\e916";
$ch-icon-candle: "\e913";
$ch-icon-play-cropped: "\e905";
$ch-icon-minus-cirlce: "\e911";
$ch-icon-flash: "\e90c";
$ch-icon-lock: "\e910";
$ch-icon-bill: "\e90d";
$ch-icon-color-swatch: "\e90e";
$ch-icon-programming-arrow: "\e90f";
$ch-icon-loading: "\e90b";
$ch-icon-note-favorite: "\e90a";
$ch-icon-arrow-left-2: "\e908";
$ch-icon-arrow-right-2: "\e909";
$ch-icon-redo: "\e906";
$ch-icon-undo: "\e907";
$ch-icon-arrow-right: "\e904";
$ch-icon-briefcase: "\e901";
$ch-icon-empty-wallet: "\e902";
$ch-icon-location: "\e903";
$ch-icon-folder-add: "\e900";
$ch-icon-share: "\eca4";
$ch-icon-add-square: "\eca2";
$ch-icon-minus-square: "\eca3";
$ch-icon-drag: "\eca0";
$ch-icon-trash: "\eca1";
$ch-icon-add-circle: "\ec9f";
$ch-icon-slash: "\ec9e";
$ch-icon-flag: "\ec98";
$ch-icon-archive: "\e91c";
$ch-icon-arrow-down: "\e929";
$ch-icon-arrow-left: "\e92d";
$ch-icon-building-4: "\e983";
$ch-icon-calendar: "\e993";
$ch-icon-clock-1: "\e9c3";
$ch-icon-copy: "\e9e5";
$ch-icon-dribble: "\ea1c";
$ch-icon-edit-2: "\ea23";
$ch-icon-eye: "\ea41";
$ch-icon-hierarchy: "\eaaf";
$ch-icon-lamp-charge: "\eac8";
$ch-icon-message-text-1: "\eb10";
$ch-icon-message: "\eb14";
$ch-icon-more: "\eb37";
$ch-icon-paperclip-2: "\eb60";
$ch-icon-profile-2user: "\eb85";
$ch-icon-search-normal-1: "\ebd5";
$ch-icon-sms: "\ec10";
$ch-icon-textalign-left: "\ec35";
$ch-icon-times: "\ec43";
$ch-icon-trello: "\ec4b";
$ch-icon-user-tick: "\ec62";
$ch-icon-facebook: "\e917";
$ch-icon-facebook-f: "\e917";
$ch-icon-pause: "\e914";
$ch-icon-play: "\e915";
$ch-icon-reload: "\e912";
$ch-icon-linkedin2: "\eaca";

