$icomoon-font-family: "crewhrm" !default;
$icomoon-font-path: "fonts" !default;

$ch-icon-book-alt2: unquote('"\\e951"');
$ch-icon-linkedin2: unquote('"\\eaca"');
$ch-icon-book-open: unquote('"\\e952"');
$ch-icon-local_grocery_store: unquote('"\\e91b"');
$ch-icon-add_shopping_cart: unquote('"\\e919"');
$ch-icon-download: unquote('"\\e91a"');
$ch-icon-thumb_down: unquote('"\\e930"');
$ch-icon-thumb_up_alt: unquote('"\\e931"');
$ch-icon-local_grocery_store1: unquote('"\\e920"');
$ch-icon-add_shopping_cart1: unquote('"\\e933"');
$ch-icon-download1: unquote('"\\e934"');
$ch-icon-open-book: unquote('"\\e953"');
$ch-icon-share1: unquote('"\\e93b"');
$ch-icon-reload: unquote('"\\e912"');
$ch-icon-reload1: unquote('"\\e93a"');
$ch-icon-eye-slash: unquote('"\\e948"');
$ch-icon-wheel-lifebuoy: unquote('"\\e949"');
$ch-icon-check-tick-mark: unquote('"\\e944"');
$ch-icon-file: unquote('"\\e945"');
$ch-icon-folder: unquote('"\\e946"');
$ch-icon-play-circle: unquote('"\\e947"');
$ch-icon-bank: unquote('"\\e942"');
$ch-icon-briefcase-2: unquote('"\\e943"');
$ch-icon-alarm-clock: unquote('"\\e926"');
$ch-icon-announcement: unquote('"\\e927"');
$ch-icon-arrow-up-right: unquote('"\\e928"');
$ch-icon-bell-ringing: unquote('"\\e92a"');
$ch-icon-cake: unquote('"\\e92b"');
$ch-icon-plus: unquote('"\\e92c"');
$ch-icon-star: unquote('"\\e92e"');
$ch-icon-umbrella: unquote('"\\e92f"');
$ch-icon-camera-plus: unquote('"\\e921"');
$ch-icon-clock-fast-forward: unquote('"\\e922"');
$ch-icon-user-tick-check-2: unquote('"\\e923"');
$ch-icon-user: unquote('"\\e924"');
$ch-icon-users-2: unquote('"\\e925"');
$ch-icon-edit: unquote('"\\e932"');
$ch-icon-circle-info: unquote('"\\e91f"');
$ch-icon-row-vertical: unquote('"\\e91d"');
$ch-icon-settings-gear: unquote('"\\e91e"');
$ch-icon-x: unquote('"\\e916"');
$ch-icon-twitter: unquote('"\\e916"');
$ch-icon-candle: unquote('"\\e913"');
$ch-icon-play-cropped: unquote('"\\e905"');
$ch-icon-minus-cirlce: unquote('"\\e911"');
$ch-icon-flash: unquote('"\\e90c"');
$ch-icon-lock: unquote('"\\e910"');
$ch-icon-bill: unquote('"\\e90d"');
$ch-icon-color-swatch: unquote('"\\e90e"');
$ch-icon-programming-arrow: unquote('"\\e90f"');
$ch-icon-loading: unquote('"\\e90b"');
$ch-icon-note-favorite: unquote('"\\e90a"');
$ch-icon-arrow-left-2: unquote('"\\e908"');
$ch-icon-arrow-right-2: unquote('"\\e909"');
$ch-icon-redo: unquote('"\\e906"');
$ch-icon-undo: unquote('"\\e907"');
$ch-icon-arrow-right: unquote('"\\e904"');
$ch-icon-briefcase1: unquote('"\\e901"');
$ch-icon-empty-wallet: unquote('"\\e902"');
$ch-icon-location: unquote('"\\e903"');
$ch-icon-folder-add: unquote('"\\e900"');
$ch-icon-share: unquote('"\\eca4"');
$ch-icon-add-square: unquote('"\\eca2"');
$ch-icon-minus-square: unquote('"\\eca3"');
$ch-icon-drag: unquote('"\\eca0"');
$ch-icon-trash: unquote('"\\eca1"');
$ch-icon-add-circle: unquote('"\\ec9f"');
$ch-icon-slash: unquote('"\\ec9e"');
$ch-icon-flag: unquote('"\\ec98"');
$ch-icon-archive: unquote('"\\e91c"');
$ch-icon-arrow-down: unquote('"\\e929"');
$ch-icon-arrow-left: unquote('"\\e92d"');
$ch-icon-building-4: unquote('"\\e983"');
$ch-icon-calendar: unquote('"\\e993"');
$ch-icon-clock-1: unquote('"\\e9c3"');
$ch-icon-copy: unquote('"\\e9e5"');
$ch-icon-dribble: unquote('"\\ea1c"');
$ch-icon-edit-2: unquote('"\\ea23"');
$ch-icon-eye: unquote('"\\ea41"');
$ch-icon-hierarchy: unquote('"\\eaaf"');
$ch-icon-lamp-charge: unquote('"\\eac8"');
$ch-icon-message-text-1: unquote('"\\eb10"');
$ch-icon-message: unquote('"\\eb14"');
$ch-icon-more: unquote('"\\eb37"');
$ch-icon-paperclip-2: unquote('"\\eb60"');
$ch-icon-profile-2user: unquote('"\\eb85"');
$ch-icon-search-normal-1: unquote('"\\ebd5"');
$ch-icon-sms: unquote('"\\ec10"');
$ch-icon-textalign-left: unquote('"\\ec35"');
$ch-icon-times: unquote('"\\ec43"');
$ch-icon-trello: unquote('"\\ec4b"');
$ch-icon-user-tick: unquote('"\\ec62"');
$ch-icon-x1: unquote('"\\e936"');
$ch-icon-twitter1: unquote('"\\e936"');
$ch-icon-world: unquote('"\\e918"');
$ch-icon-globe: unquote('"\\e918"');
$ch-icon-internet: unquote('"\\e918"');
$ch-icon-network: unquote('"\\e918"');
$ch-icon-world1: unquote('"\\e935"');
$ch-icon-globe1: unquote('"\\e935"');
$ch-icon-internet1: unquote('"\\e935"');
$ch-icon-network1: unquote('"\\e935"');
$ch-icon-behance: unquote('"\\e94a"');
$ch-icon-facebook-filled: unquote('"\\e94b"');
$ch-icon-github: unquote('"\\e94c"');
$ch-icon-linkedin-filled: unquote('"\\e94d"');
$ch-icon-medium: unquote('"\\e94e"');
$ch-icon-wordpress: unquote('"\\e94f"');
$ch-icon-youtube-filled: unquote('"\\e950"');
$ch-icon-facebook: unquote('"\\e917"');
$ch-icon-facebook-f: unquote('"\\e917"');
$ch-icon-pause: unquote('"\\e914"');
$ch-icon-play: unquote('"\\e915"');
$ch-icon-thumbs-o-up: unquote('"\\e93e"');
$ch-icon-thumbs-o-down: unquote('"\\e940"');
$ch-icon-thumbs-up: unquote('"\\e93f"');
$ch-icon-thumbs-down: unquote('"\\e941"');
$ch-icon-heart-o: unquote('"\\e93c"');
$ch-icon-heart: unquote('"\\e93d"');
$ch-icon-facebook1: unquote('"\\e937"');
$ch-icon-facebook-f1: unquote('"\\e937"');
$ch-icon-pause1: unquote('"\\e938"');
$ch-icon-play1: unquote('"\\e939"');

