.upload {
    .drop-container {
        border: 1px dashed var(--crewmat-color-tertiary);
        padding: 30px;
        cursor: pointer;
        border-radius: 10px;
        background-color: var(--crewmat-color-quaternary);

		&.error {
			border-color: var(--crewmat-color-error);
		}

        &:hover {
            border: 1px dashed var(--crewmat-color-primary);
        }

        &.highlight {
            border: 1.5px dashed var(--crewmat-color-primary);
        }
    }
}
