.upload {
    .drop-container {
        border: 1px dashed var(--devjk-color-text-10);
        padding: 30px;
        cursor: pointer;
        border-radius: 10px;
        background-color: var(--devjk-color-material-3);

		&.multi-image {
			padding: 15px;
		}

		&.error {
			border-color: var(--devjk-color-error);
		}

        &:hover {
            border: 1px dashed var(--devjk-color-text-20);
        }

        &.highlight {
            border: 1px dashed var(--devjk-color-text-60);
        }
    }
}
