/* Select Drop down and popup */
.select-dropdown {
    &:not(.transparent) {
        background-color: var(--devjk-color-white);
    }
}

.select-dropdown-popup {
	
	border: none;

    .trigger-point {
        & > div {
            border: none !important;
            border-radius: 0;
            border-bottom: 1px solid var(--devjk-color-text-10);
        }
    }
    i.jcon {
        font-size: 15px;
    }
    .list-wrapper {
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;

        &, .list-item {
            &:not(:last-child) {
                border-bottom: 1px solid var(--devjk-color-text-10);
            }
        }
    }

    .list-item, .add-item {
        &:hover {
            background-color: var(--devjk-color-text-10);
        }

        &.active {
            color: var(--devjk-color-white-90);;
            background-color: var(--devjk-color-text-90);
        }
    }
}

/* Options popup */
.options-popup {
    width: 176px;

    .list-wrapper {
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;

        &,
        .list-item {
            &:not(:last-child) {
                border-bottom: 1px solid var(--devjk-color-text-10);
            }
        }
    }

    .list-item,
    .add-item {
        &.active,
        &:hover {
            background-color: var(--devjk-color-text-5);
        }
    }
}
