.text-field {
    .image {
        width: auto;
        height: auto;
        max-width: 16px;
        max-height: 16px;
        display: inline-block;
    }

	input, textarea {
		&::placeholder {
			color: var(--solidie-color-text-40);
		}

		&::-ms-input-placeholder {
			color: var(--solidie-color-text-40);
		}
	}
}
