$opacity_bg: 0.122;
$opacity_br: 0.264;
$opacity_cl: 0.975;
$color_scale: 90;

.select-wrapper {
	width: fit-content;
	min-width: 117px;
	max-width: max-content;
	position: relative;
	border-radius: 42px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--devjk-color-text-20);
	border: 1px solid  var(--devjk-color-text-30);
	
	&, select {
		color:   var(--devjk-color-text-80);
	}

	&.disabled {
		cursor: not-allowed;
		opacity: .6;
	}
	
	&.error {
		background:  var(--devjk-color-error-20);
		border: 1px solid  var(--devjk-color-error-30);
		
		&, select {
			color:  var(--devjk-color-error-80);
		}
	}

	&.warning {
		background:  var(--devjk-color-warning-20);
		border: 1px solid var(--devjk-color-warning-30);
		
		&, select {
			color: var(--devjk-color-warning-80);
		}
	}
	
	&.success {
		background: var(--devjk-color-success-20);
		border: 1px solid var(--devjk-color-success-30);
		
		&, select {
			color: var(--devjk-color-success-80);
		}
	}
	
	select {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0 29px 0 14px;
		border: none;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		min-height: 24px !important;
		position: relative;
		z-index: 1;
		background: transparent !important;
		cursor: pointer;

		&:focus {
			box-shadow: none;
		}
	}

	& > i {
		position: absolute;
		font-size: 14px;
	}

	// down arrow icon
	.icon2 {
		right: 9px;
	}
}
