@use '../styles/mixins';

.tabs {
    display: flex;
    align-items: end;
    justify-content: space-between;
	@include mixins.fontWeight(500);

    & > .single-step {
        flex: 1;
        text-align: center;
    }

    &.theme-button {
        background-color: var(--devjk-color-white-40);
        border-radius: 6px;
        padding: 2px;
		color: var(--devjk-color-text-80);

        & > div {
            padding-top: 10px;
            padding-bottom: 10px;

            &.active {
                background-color: var(--devjk-color-white);
                box-shadow: 0px 1px 4px 3px var(--devjk-color-text-10);
                border-radius: 6px;
            }
        }
    }

    &.theme-transparent {
        & > div {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1.5px solid var(--devjk-color-text-20);
            font-size: 13px;
            letter-spacing: -0.13px;
            color: var(--devjk-color-text-50);

            &.active {
                color: var(--devjk-color-text-90);
                border-color: var(--devjk-color-text-90);
            }
        }
    }
}
