.list-manager {
    .single {
        height: 50px;

        & {
            background-color: white;
            &:hover {
                background-color: var(--devjk-color-quaternary);
            }
        }

        &:not(:hover) {
            .action-icon {
                display: none;
            }
        }
    }

    .add-stage {
        color: var(--devjk-color-material);
        border: 1.5px solid var(--devjk-color-material);
        border-radius: 10px;
        padding: 10px 15px;
        cursor: pointer;
    }
}
