@use "variables" as *;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ngenq2') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ngenq2') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ngenq2##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sicon-man-woman {
  &:before {
    content: $sicon-man-woman; 
  }
}
.sicon-book-alt2 {
  &:before {
    content: $sicon-book-alt2; 
  }
}
.sicon-linkedin2 {
  &:before {
    content: $sicon-linkedin2; 
  }
}
.sicon-smoking_rooms {
  &:before {
    content: $sicon-smoking_rooms; 
  }
}
.sicon-book-open {
  &:before {
    content: $sicon-book-open; 
  }
}
.sicon-local_grocery_store {
  &:before {
    content: $sicon-local_grocery_store; 
  }
}
.sicon-add_shopping_cart {
  &:before {
    content: $sicon-add_shopping_cart; 
  }
}
.sicon-download {
  &:before {
    content: $sicon-download; 
  }
}
.sicon-thumb_down {
  &:before {
    content: $sicon-thumb_down; 
  }
}
.sicon-thumb_up_alt {
  &:before {
    content: $sicon-thumb_up_alt; 
  }
}
.sicon-local_grocery_store1 {
  &:before {
    content: $sicon-local_grocery_store1; 
  }
}
.sicon-add_shopping_cart1 {
  &:before {
    content: $sicon-add_shopping_cart1; 
  }
}
.sicon-download1 {
  &:before {
    content: $sicon-download1; 
  }
}
.sicon-wine {
  &:before {
    content: $sicon-wine; 
  }
}
.sicon-glass {
  &:before {
    content: $sicon-glass; 
  }
}
.sicon-drink {
  &:before {
    content: $sicon-drink; 
  }
}
.sicon-phone {
  &:before {
    content: $sicon-phone; 
  }
}
.sicon-skype {
  &:before {
    content: $sicon-skype; 
  }
}
.sicon-whatsapp {
  &:before {
    content: $sicon-whatsapp; 
  }
}
.sicon-telegram {
  &:before {
    content: $sicon-telegram; 
  }
}
.sicon-heartbeat {
  &:before {
    content: $sicon-heartbeat; 
  }
}
.sicon-transgender-alt {
  &:before {
    content: $sicon-transgender-alt; 
  }
}
.sicon-facebook-filled {
  &:before {
    content: $sicon-facebook-filled; 
  }
}
.sicon-github {
  &:before {
    content: $sicon-github; 
  }
}
.sicon-linkedin-filled {
  &:before {
    content: $sicon-linkedin-filled; 
  }
}
.sicon-youtube-filled {
  &:before {
    content: $sicon-youtube-filled; 
  }
}
.sicon-facebook {
  &:before {
    content: $sicon-facebook; 
  }
}
.sicon-facebook-f {
  &:before {
    content: $sicon-facebook-f; 
  }
}
.sicon-pause {
  &:before {
    content: $sicon-pause; 
  }
}
.sicon-play {
  &:before {
    content: $sicon-play; 
  }
}
.sicon-thumbs-o-up {
  &:before {
    content: $sicon-thumbs-o-up; 
  }
}
.sicon-thumbs-o-down {
  &:before {
    content: $sicon-thumbs-o-down; 
  }
}
.sicon-thumbs-up {
  &:before {
    content: $sicon-thumbs-up; 
  }
}
.sicon-thumbs-down {
  &:before {
    content: $sicon-thumbs-down; 
  }
}
.sicon-heart-o {
  &:before {
    content: $sicon-heart-o; 
  }
}
.sicon-heart {
  &:before {
    content: $sicon-heart; 
  }
}
.sicon-facebook1 {
  &:before {
    content: $sicon-facebook1; 
  }
}
.sicon-facebook-f1 {
  &:before {
    content: $sicon-facebook-f1; 
  }
}
.sicon-pause1 {
  &:before {
    content: $sicon-pause1; 
  }
}
.sicon-play1 {
  &:before {
    content: $sicon-play1; 
  }
}
.sicon-eye-slash {
  &:before {
    content: $sicon-eye-slash; 
  }
}
.sicon-wheel-lifebuoy {
  &:before {
    content: $sicon-wheel-lifebuoy; 
  }
}
.sicon-file {
  &:before {
    content: $sicon-file; 
  }
}
.sicon-folder {
  &:before {
    content: $sicon-folder; 
  }
}
.sicon-play-circle {
  &:before {
    content: $sicon-play-circle; 
  }
}
.sicon-briefcase-2 {
  &:before {
    content: $sicon-briefcase-2; 
  }
}
.sicon-alarm-clock {
  &:before {
    content: $sicon-alarm-clock; 
  }
}
.sicon-arrow-up-right {
  &:before {
    content: $sicon-arrow-up-right; 
  }
}
.sicon-bell-ringing {
  &:before {
    content: $sicon-bell-ringing; 
  }
}
.sicon-plus {
  &:before {
    content: $sicon-plus; 
  }
}
.sicon-star {
  &:before {
    content: $sicon-star; 
  }
}
.sicon-camera-plus {
  &:before {
    content: $sicon-camera-plus; 
  }
}
.sicon-clock-fast-forward {
  &:before {
    content: $sicon-clock-fast-forward; 
  }
}
.sicon-user-tick-check-2 {
  &:before {
    content: $sicon-user-tick-check-2; 
  }
}
.sicon-user {
  &:before {
    content: $sicon-user; 
  }
}
.sicon-users-2 {
  &:before {
    content: $sicon-users-2; 
  }
}
.sicon-edit {
  &:before {
    content: $sicon-edit; 
  }
}
.sicon-circle-info {
  &:before {
    content: $sicon-circle-info; 
  }
}
.sicon-row-vertical {
  &:before {
    content: $sicon-row-vertical; 
  }
}
.sicon-settings-gear {
  &:before {
    content: $sicon-settings-gear; 
  }
}
.sicon-x {
  &:before {
    content: $sicon-x; 
  }
}
.sicon-twitter {
  &:before {
    content: $sicon-twitter; 
  }
}
.sicon-candle {
  &:before {
    content: $sicon-candle; 
  }
}
.sicon-play-cropped {
  &:before {
    content: $sicon-play-cropped; 
  }
}
.sicon-minus-cirlce {
  &:before {
    content: $sicon-minus-cirlce; 
  }
}
.sicon-flash {
  &:before {
    content: $sicon-flash; 
  }
}
.sicon-lock {
  &:before {
    content: $sicon-lock; 
  }
}
.sicon-bill {
  &:before {
    content: $sicon-bill; 
  }
}
.sicon-color-swatch {
  &:before {
    content: $sicon-color-swatch; 
  }
}
.sicon-programming-arrow {
  &:before {
    content: $sicon-programming-arrow; 
  }
}
.sicon-loading {
  &:before {
    content: $sicon-loading; 
  }
}
.sicon-note-favorite {
  &:before {
    content: $sicon-note-favorite; 
  }
}
.sicon-arrow-left-2 {
  &:before {
    content: $sicon-arrow-left-2; 
  }
}
.sicon-arrow-right-2 {
  &:before {
    content: $sicon-arrow-right-2; 
  }
}
.sicon-redo {
  &:before {
    content: $sicon-redo; 
  }
}
.sicon-undo {
  &:before {
    content: $sicon-undo; 
  }
}
.sicon-arrow-right {
  &:before {
    content: $sicon-arrow-right; 
  }
}
.sicon-briefcase1 {
  &:before {
    content: $sicon-briefcase1; 
  }
}
.sicon-empty-wallet {
  &:before {
    content: $sicon-empty-wallet; 
  }
}
.sicon-location {
  &:before {
    content: $sicon-location; 
  }
}
.sicon-folder-add {
  &:before {
    content: $sicon-folder-add; 
  }
}
.sicon-share {
  &:before {
    content: $sicon-share; 
  }
}
.sicon-add-square {
  &:before {
    content: $sicon-add-square; 
  }
}
.sicon-minus-square {
  &:before {
    content: $sicon-minus-square; 
  }
}
.sicon-drag {
  &:before {
    content: $sicon-drag; 
  }
}
.sicon-trash {
  &:before {
    content: $sicon-trash; 
  }
}
.sicon-add-circle {
  &:before {
    content: $sicon-add-circle; 
  }
}
.sicon-slash {
  &:before {
    content: $sicon-slash; 
  }
}
.sicon-flag {
  &:before {
    content: $sicon-flag; 
  }
}
.sicon-arrow-down {
  &:before {
    content: $sicon-arrow-down; 
  }
}
.sicon-arrow-left {
  &:before {
    content: $sicon-arrow-left; 
  }
}
.sicon-building-4 {
  &:before {
    content: $sicon-building-4; 
  }
}
.sicon-calendar {
  &:before {
    content: $sicon-calendar; 
  }
}
.sicon-clock-1 {
  &:before {
    content: $sicon-clock-1; 
  }
}
.sicon-copy {
  &:before {
    content: $sicon-copy; 
  }
}
.sicon-edit-2 {
  &:before {
    content: $sicon-edit-2; 
  }
}
.sicon-eye {
  &:before {
    content: $sicon-eye; 
  }
}
.sicon-hierarchy {
  &:before {
    content: $sicon-hierarchy; 
  }
}
.sicon-lamp-charge {
  &:before {
    content: $sicon-lamp-charge; 
  }
}
.sicon-message-text-1 {
  &:before {
    content: $sicon-message-text-1; 
  }
}
.sicon-message {
  &:before {
    content: $sicon-message; 
  }
}
.sicon-more {
  &:before {
    content: $sicon-more; 
  }
}
.sicon-paperclip-2 {
  &:before {
    content: $sicon-paperclip-2; 
  }
}
.sicon-profile-2user {
  &:before {
    content: $sicon-profile-2user; 
  }
}
.sicon-search-normal-1 {
  &:before {
    content: $sicon-search-normal-1; 
  }
}
.sicon-sms {
  &:before {
    content: $sicon-sms; 
  }
}
.sicon-textalign-left {
  &:before {
    content: $sicon-textalign-left; 
  }
}
.sicon-times {
  &:before {
    content: $sicon-times; 
  }
}
.sicon-trello {
  &:before {
    content: $sicon-trello; 
  }
}
.sicon-user-tick {
  &:before {
    content: $sicon-user-tick; 
  }
}
.sicon-x1 {
  &:before {
    content: $sicon-x1; 
  }
}
.sicon-twitter1 {
  &:before {
    content: $sicon-twitter1; 
  }
}
.sicon-open-book {
  &:before {
    content: $sicon-open-book; 
  }
}
.sicon-share1 {
  &:before {
    content: $sicon-share1; 
  }
}
.sicon-reload {
  &:before {
    content: $sicon-reload; 
  }
}
.sicon-reload1 {
  &:before {
    content: $sicon-reload1; 
  }
}

