$icomoon-font-family: "solidie" !default;
$icomoon-font-path: "fonts" !default;

$sicon-smoking_rooms: unquote('"\\e918"');
$sicon-book-open: unquote('"\\e952"');
$sicon-local_grocery_store: unquote('"\\e91b"');
$sicon-add_shopping_cart: unquote('"\\e919"');
$sicon-download: unquote('"\\e91a"');
$sicon-thumb_down: unquote('"\\e930"');
$sicon-thumb_up_alt: unquote('"\\e931"');
$sicon-local_grocery_store1: unquote('"\\e920"');
$sicon-add_shopping_cart1: unquote('"\\e933"');
$sicon-download1: unquote('"\\e934"');
$sicon-wine: unquote('"\\e91c"');
$sicon-glass: unquote('"\\e91c"');
$sicon-drink: unquote('"\\e91c"');
$sicon-heartbeat: unquote('"\\e927"');
$sicon-transgender-alt: unquote('"\\e92b"');
$sicon-facebook-filled: unquote('"\\e94b"');
$sicon-github: unquote('"\\e94c"');
$sicon-linkedin-filled: unquote('"\\e94d"');
$sicon-youtube-filled: unquote('"\\e950"');
$sicon-facebook: unquote('"\\e917"');
$sicon-facebook-f: unquote('"\\e917"');
$sicon-pause: unquote('"\\e914"');
$sicon-play: unquote('"\\e915"');
$sicon-thumbs-o-up: unquote('"\\e93e"');
$sicon-thumbs-o-down: unquote('"\\e940"');
$sicon-thumbs-up: unquote('"\\e93f"');
$sicon-thumbs-down: unquote('"\\e941"');
$sicon-heart-o: unquote('"\\e93c"');
$sicon-heart: unquote('"\\e93d"');
$sicon-facebook1: unquote('"\\e937"');
$sicon-facebook-f1: unquote('"\\e937"');
$sicon-pause1: unquote('"\\e938"');
$sicon-play1: unquote('"\\e939"');
$sicon-eye-slash: unquote('"\\e948"');
$sicon-wheel-lifebuoy: unquote('"\\e949"');
$sicon-file: unquote('"\\e945"');
$sicon-folder: unquote('"\\e946"');
$sicon-play-circle: unquote('"\\e947"');
$sicon-briefcase-2: unquote('"\\e943"');
$sicon-alarm-clock: unquote('"\\e926"');
$sicon-arrow-up-right: unquote('"\\e928"');
$sicon-bell-ringing: unquote('"\\e92a"');
$sicon-plus: unquote('"\\e92c"');
$sicon-star: unquote('"\\e92e"');
$sicon-camera-plus: unquote('"\\e921"');
$sicon-clock-fast-forward: unquote('"\\e922"');
$sicon-user-tick-check-2: unquote('"\\e923"');
$sicon-user: unquote('"\\e924"');
$sicon-users-2: unquote('"\\e925"');
$sicon-edit: unquote('"\\e932"');
$sicon-circle-info: unquote('"\\e91f"');
$sicon-row-vertical: unquote('"\\e91d"');
$sicon-settings-gear: unquote('"\\e91e"');
$sicon-x: unquote('"\\e916"');
$sicon-twitter: unquote('"\\e916"');
$sicon-candle: unquote('"\\e913"');
$sicon-play-cropped: unquote('"\\e905"');
$sicon-minus-cirlce: unquote('"\\e911"');
$sicon-flash: unquote('"\\e90c"');
$sicon-lock: unquote('"\\e910"');
$sicon-bill: unquote('"\\e90d"');
$sicon-color-swatch: unquote('"\\e90e"');
$sicon-programming-arrow: unquote('"\\e90f"');
$sicon-loading: unquote('"\\e90b"');
$sicon-note-favorite: unquote('"\\e90a"');
$sicon-arrow-left-2: unquote('"\\e908"');
$sicon-arrow-right-2: unquote('"\\e909"');
$sicon-redo: unquote('"\\e906"');
$sicon-undo: unquote('"\\e907"');
$sicon-arrow-right: unquote('"\\e904"');
$sicon-briefcase1: unquote('"\\e901"');
$sicon-empty-wallet: unquote('"\\e902"');
$sicon-location: unquote('"\\e903"');
$sicon-folder-add: unquote('"\\e900"');
$sicon-share: unquote('"\\eca4"');
$sicon-add-square: unquote('"\\eca2"');
$sicon-minus-square: unquote('"\\eca3"');
$sicon-drag: unquote('"\\eca0"');
$sicon-trash: unquote('"\\eca1"');
$sicon-add-circle: unquote('"\\ec9f"');
$sicon-slash: unquote('"\\ec9e"');
$sicon-flag: unquote('"\\ec98"');
$sicon-arrow-down: unquote('"\\e929"');
$sicon-arrow-left: unquote('"\\e92d"');
$sicon-building-4: unquote('"\\e983"');
$sicon-calendar: unquote('"\\e993"');
$sicon-clock-1: unquote('"\\e9c3"');
$sicon-copy: unquote('"\\e9e5"');
$sicon-edit-2: unquote('"\\ea23"');
$sicon-eye: unquote('"\\ea41"');
$sicon-hierarchy: unquote('"\\eaaf"');
$sicon-lamp-charge: unquote('"\\eac8"');
$sicon-message-text-1: unquote('"\\eb10"');
$sicon-message: unquote('"\\eb14"');
$sicon-more: unquote('"\\eb37"');
$sicon-paperclip-2: unquote('"\\eb60"');
$sicon-profile-2user: unquote('"\\eb85"');
$sicon-search-normal-1: unquote('"\\ebd5"');
$sicon-sms: unquote('"\\ec10"');
$sicon-textalign-left: unquote('"\\ec35"');
$sicon-times: unquote('"\\ec43"');
$sicon-trello: unquote('"\\ec4b"');
$sicon-user-tick: unquote('"\\ec62"');
$sicon-x1: unquote('"\\e936"');
$sicon-twitter1: unquote('"\\e936"');
$sicon-open-book: unquote('"\\e953"');
$sicon-share1: unquote('"\\e93b"');
$sicon-reload: unquote('"\\e912"');
$sicon-reload1: unquote('"\\e93a"');
$sicon-book-alt2: unquote('"\\e951"');
$sicon-linkedin2: unquote('"\\eaca"');

