@use "sass:string";

$icomoon-font-family: "solidie" !default;
$icomoon-font-path: "fonts" !default;

$sicon-man-woman: string.unquote('"\\e92f"');
$sicon-book-alt2: string.unquote('"\\e951"');
$sicon-linkedin2: string.unquote('"\\eaca"');
$sicon-smoking_rooms: string.unquote('"\\e918"');
$sicon-book-open: string.unquote('"\\e952"');
$sicon-local_grocery_store: string.unquote('"\\e91b"');
$sicon-add_shopping_cart: string.unquote('"\\e919"');
$sicon-download: string.unquote('"\\e91a"');
$sicon-thumb_down: string.unquote('"\\e930"');
$sicon-thumb_up_alt: string.unquote('"\\e931"');
$sicon-local_grocery_store1: string.unquote('"\\e920"');
$sicon-add_shopping_cart1: string.unquote('"\\e933"');
$sicon-download1: string.unquote('"\\e934"');
$sicon-wine: string.unquote('"\\e91c"');
$sicon-glass: string.unquote('"\\e91c"');
$sicon-drink: string.unquote('"\\e91c"');
$sicon-phone: string.unquote('"\\e94a"');
$sicon-skype: string.unquote('"\\e935"');
$sicon-whatsapp: string.unquote('"\\e942"');
$sicon-telegram: string.unquote('"\\e944"');
$sicon-heartbeat: string.unquote('"\\e927"');
$sicon-transgender-alt: string.unquote('"\\e92b"');
$sicon-facebook-filled: string.unquote('"\\e94b"');
$sicon-github: string.unquote('"\\e94c"');
$sicon-linkedin-filled: string.unquote('"\\e94d"');
$sicon-youtube-filled: string.unquote('"\\e950"');
$sicon-facebook: string.unquote('"\\e917"');
$sicon-facebook-f: string.unquote('"\\e917"');
$sicon-pause: string.unquote('"\\e914"');
$sicon-play: string.unquote('"\\e915"');
$sicon-thumbs-o-up: string.unquote('"\\e93e"');
$sicon-thumbs-o-down: string.unquote('"\\e940"');
$sicon-thumbs-up: string.unquote('"\\e93f"');
$sicon-thumbs-down: string.unquote('"\\e941"');
$sicon-heart-o: string.unquote('"\\e93c"');
$sicon-heart: string.unquote('"\\e93d"');
$sicon-facebook1: string.unquote('"\\e937"');
$sicon-facebook-f1: string.unquote('"\\e937"');
$sicon-pause1: string.unquote('"\\e938"');
$sicon-play1: string.unquote('"\\e939"');
$sicon-eye-slash: string.unquote('"\\e948"');
$sicon-wheel-lifebuoy: string.unquote('"\\e949"');
$sicon-file: string.unquote('"\\e945"');
$sicon-folder: string.unquote('"\\e946"');
$sicon-play-circle: string.unquote('"\\e947"');
$sicon-briefcase-2: string.unquote('"\\e943"');
$sicon-alarm-clock: string.unquote('"\\e926"');
$sicon-arrow-up-right: string.unquote('"\\e928"');
$sicon-bell-ringing: string.unquote('"\\e92a"');
$sicon-plus: string.unquote('"\\e92c"');
$sicon-star: string.unquote('"\\e92e"');
$sicon-camera-plus: string.unquote('"\\e921"');
$sicon-clock-fast-forward: string.unquote('"\\e922"');
$sicon-user-tick-check-2: string.unquote('"\\e923"');
$sicon-user: string.unquote('"\\e924"');
$sicon-users-2: string.unquote('"\\e925"');
$sicon-edit: string.unquote('"\\e932"');
$sicon-circle-info: string.unquote('"\\e91f"');
$sicon-row-vertical: string.unquote('"\\e91d"');
$sicon-settings-gear: string.unquote('"\\e91e"');
$sicon-x: string.unquote('"\\e916"');
$sicon-twitter: string.unquote('"\\e916"');
$sicon-candle: string.unquote('"\\e913"');
$sicon-play-cropped: string.unquote('"\\e905"');
$sicon-minus-cirlce: string.unquote('"\\e911"');
$sicon-flash: string.unquote('"\\e90c"');
$sicon-lock: string.unquote('"\\e910"');
$sicon-bill: string.unquote('"\\e90d"');
$sicon-color-swatch: string.unquote('"\\e90e"');
$sicon-programming-arrow: string.unquote('"\\e90f"');
$sicon-loading: string.unquote('"\\e90b"');
$sicon-note-favorite: string.unquote('"\\e90a"');
$sicon-arrow-left-2: string.unquote('"\\e908"');
$sicon-arrow-right-2: string.unquote('"\\e909"');
$sicon-redo: string.unquote('"\\e906"');
$sicon-undo: string.unquote('"\\e907"');
$sicon-arrow-right: string.unquote('"\\e904"');
$sicon-briefcase1: string.unquote('"\\e901"');
$sicon-empty-wallet: string.unquote('"\\e902"');
$sicon-location: string.unquote('"\\e903"');
$sicon-folder-add: string.unquote('"\\e900"');
$sicon-share: string.unquote('"\\eca4"');
$sicon-add-square: string.unquote('"\\eca2"');
$sicon-minus-square: string.unquote('"\\eca3"');
$sicon-drag: string.unquote('"\\eca0"');
$sicon-trash: string.unquote('"\\eca1"');
$sicon-add-circle: string.unquote('"\\ec9f"');
$sicon-slash: string.unquote('"\\ec9e"');
$sicon-flag: string.unquote('"\\ec98"');
$sicon-arrow-down: string.unquote('"\\e929"');
$sicon-arrow-left: string.unquote('"\\e92d"');
$sicon-building-4: string.unquote('"\\e983"');
$sicon-calendar: string.unquote('"\\e993"');
$sicon-clock-1: string.unquote('"\\e9c3"');
$sicon-copy: string.unquote('"\\e9e5"');
$sicon-edit-2: string.unquote('"\\ea23"');
$sicon-eye: string.unquote('"\\ea41"');
$sicon-hierarchy: string.unquote('"\\eaaf"');
$sicon-lamp-charge: string.unquote('"\\eac8"');
$sicon-message-text-1: string.unquote('"\\eb10"');
$sicon-message: string.unquote('"\\eb14"');
$sicon-more: string.unquote('"\\eb37"');
$sicon-paperclip-2: string.unquote('"\\eb60"');
$sicon-profile-2user: string.unquote('"\\eb85"');
$sicon-search-normal-1: string.unquote('"\\ebd5"');
$sicon-sms: string.unquote('"\\ec10"');
$sicon-textalign-left: string.unquote('"\\ec35"');
$sicon-times: string.unquote('"\\ec43"');
$sicon-trello: string.unquote('"\\ec4b"');
$sicon-user-tick: string.unquote('"\\ec62"');
$sicon-x1: string.unquote('"\\e936"');
$sicon-twitter1: string.unquote('"\\e936"');
$sicon-open-book: string.unquote('"\\e953"');
$sicon-share1: string.unquote('"\\e93b"');
$sicon-reload: string.unquote('"\\e912"');
$sicon-reload1: string.unquote('"\\e93a"');

