.audio {
	background-size: cover;
	background-position: center center;
	display: block;
	
	$blur: 40px;
	&>div {
		-webkit-backdrop-filter: blur($blur);
		-moz-backdrop-filter: blur($blur);
		-ms-backdrop-filter: blur($blur);
		-o-backdrop-filter: blur($blur);
		backdrop-filter: blur($blur);
		background: rgba(164, 164, 164, 0.24);
	}

	.player-control {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: var(--solidie-color-material);
		cursor: pointer;
		overflow: hidden;
		border: 1px solid var(--solidie-color-white);

		&:not(:hover) {
			opacity: 0.8;
			transition: opacity 0.4s;
		}

		i {
			color: var(--solidie-color-white);
		}
	}
}
