@use '../styles/mixins';

.tag {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
	column-gap: 10px;
	row-gap: 10px;
	flex-wrap: wrap;

	& > div {
		border-radius: 50px;
		border: 1px solid var(--solidie-color-material-20);
		background-color: var(--solidie-color-material-5);
		line-height: 24px;
		color: var(--solidie-color-text);
		@include mixins.fontWeight(500);
        cursor: pointer;
        white-space: nowrap;

		&.active {
			color: white;
			background-color: var(--solidie-color-material-70);
			border-color: var(--solidie-color-material-80);
		}
    }

	&.overlayer {
		& > div {
			border-color: white;
			color: white;
		}
	}

	&.variant-normal > div {
		padding: 2px 13px;
		font-size: 14px;
		height: 28px;
	}

	&.variant-small > div {
		padding: 0px 8px;
		font-size: 11px;
		height: 21px;
	}
}
