@import '../styles/mixins';

.tag {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;

    & > div {
        padding: 8px 15px;
        height: 40px;
        color: var(--solidie-color-text);
        border: 1px solid var(--solidie-color-text-40);
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        @include fontWeight(500);
        line-height: 25px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;

		&.error {
			border-color: var(--solidie-color-error);
		}
    }

    &.full-width {
        & > div {
            flex: 1;
        }
    }

    &:not(.full-width) {
        flex-wrap: wrap;
    }

    &.theme-button {
        & > div {
            &.active,
            &:hover {
                background-color: var(--solidie-color-text);
                border-color: var(--solidie-color-text);
                color: white;
            }
        }
    }

    &.theme-button-control {
        & > div {
            &:hover {
                border-color: var(--solidie-color-text);
            }
        }
    }

    &.theme-tag {
        column-gap: 10px;
        row-gap: 10px;

        & > div {
            padding: 2px 13px;
            border-radius: 50px;
            border: 1px solid var(--solidie-color-tertiary);
            background-color: var(--solidie-color-quaternary);
            font-size: 14px;
            line-height: 24px;
            height: 28px;
            color: var(--solidie-color-text);
            @include fontWeight(500);

            &.active {
                color: white;
                background-color: var(--solidie-color-text);
                border-color: var(--solidie-color-text);
            }
        }
    }
}
