
/* 
	Buttons have two main variations. 
	Outlined and not outlined/primary. 
	Outlined actually overrides primary little bit in colors.
*/

.button {
    outline: none;
    padding: 9px 15px;
    border-radius: 5px;
    font-size: 15px;
    @include fontWeight(500);
    letter-spacing: -0.3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: none;
    line-height: normal;

    &.button-primary {
        background-color: var(--solidie-color-material);
        color: white;
        border: 1px solid var(--solidie-color-material);

        // Set light colors if disabled
        &.disabled,
        &:disabled {
            background-color: var(--solidie-color-material-50);
            border-color: var(--solidie-color-material-50);
        }

        // Make little bit darker on hover
        &:not(.button-outlined):not(:disabled):not(.disabled) {
            &:hover {
                filter: brightness(0.85);
            }
        }
    }

    &.button-outlined {

        // Hovering outlined button is merely showing the primary button colors. When not hovered, it'll who outlined withour primary background color.
        &:not(:hover) {
            background-color: transparent;
            color: var(--solidie-color-material);
        }

        // Set styles for disabled state
        &.disabled,  &:disabled {
            background-color: transparent;
            border-color: var(--solidie-color-material-40);
            color: var(--solidie-color-material-40);
        }
    }

    &.button-small {
        @include fontWeight(400);
        padding: 5px 12px;
    }

    &.button-medium {
        @include fontWeight(500);
        padding: 10px 15px;
    }

    &.button-large {
        padding: 14px 15px;
    }

    &.button-full-width {
        width: 100%;
        text-align: center;
    }
}
