// Loop through the colors
@mixin colorGenerate($class, $attr, $colors) {

    @each $color in $colors {
        // Generate text color classes
        .#{$class}-#{$color} {
            &,
            &[type] {
                // Here [type] is used  to override wp default styles for input fields
                #{$attr}: var(
                    --solidie-color-#{$color}
                ); // Usage: *-error (Style will be applied to itself normally)

				&.interactive:hover, &.active {
					@if ($attr == 'color') {
						#{$attr}: var(--solidie-color-#{$color}-150);
					}
					
					@if ($attr == 'background-color') {
						#{$attr}: var(--solidie-color-#{$color}-150);
					}
					
					@if ($attr == 'border-color') {
						#{$attr}: var(--solidie-color-#{$color}-150);
					}
				}
            }
        }
    }
}

$text_colors: 'text', 'material', 'white', 'error', 'warning', 'success';
$b_colors   : 'text', 'material', 'warning', 'success', 'error', 'transparent';
$bg_colors  : 'error', 'white', 'transparent';

@for $i from 1 through 9 {
  	$text_colors: append($text_colors, 'text-#{$i*10}');
  	$text_colors: append($text_colors, 'material-#{$i*10}');
  	$b_colors: append($b_colors, 'text-#{$i*10}');
  	$b_colors: append($b_colors, 'material-#{$i*10}');
}

@include colorGenerate('color', 'color', $text_colors);
@include colorGenerate('bg-color', 'background-color', $bg_colors);
@include colorGenerate('b-color', 'border-color', $b_colors);
