// Loop through the colors
@mixin colorGenerate($class, $attr, $colors) {

    @each $color in $colors {
        // Generate text color classes
        .#{$class}-#{$color} {
            &,
            &[type] {
                // Here [type] is used  to override wp default styles for input fields
                #{$attr}: var(
                    --solidie-color-#{$color}
                ); // Usage: *-error (Style will be applied to itself normally)

				&.interactive:hover, &.active {
					@if ($attr == 'color') {
						#{$attr}: var(--solidie-color-#{$color}-150);
					}
					
					@if ($attr == 'background-color') {
						#{$attr}: var(--solidie-color-#{$color}-150);
					}
				}
            }
        }
    }
}

$text_colors: 'text', 'text-50', 'text-40';
$b_colors   : 'line', 'line-50', 'line-40', 'error', 'text', 'transparent';
$bg_colors  : 'error', 'white', 'transparent';

@include colorGenerate('color', 'color', $text_colors);
@include colorGenerate('bg-color', 'background-color', $bg_colors);
@include colorGenerate('b-color', 'border-color', $b_colors);
