// Loop through the colors
@mixin colorGenerate($class, $attr, $colors) {

    @each $color in $colors {

		.#{$class}-#{$color} {

            &, &[type] {

				#{$attr}: var(--solidie-color-#{$color});

				&.interactive:hover, &.active {
					@if ($attr == 'color') {
						#{$attr}: var(--solidie-color-#{$color}-150);
					}
					
					@if ($attr == 'background-color') {
						#{$attr}: var(--solidie-color-#{$color}-150);
					}
					
					@if ($attr == 'border-color') {
						#{$attr}: var(--solidie-color-#{$color}-150);
					}
				}
            }
        }
    }
}

$colors: 'text', 'material', 'white', 'error', 'warning', 'success', 'transparent';

@for $i from 1 through 9 {

  	$colors: append($colors, 'text-#{$i*10}');
  	$colors: append($colors, 'material-#{$i*10}');

  	$colors: append($colors, 'text-#{$i}');
  	$colors: append($colors, 'material-#{$i}');
}

@include colorGenerate('color', 'color', $colors);
@include colorGenerate('bg-color', 'background-color', $colors);
@include colorGenerate('b-color', 'border-color', $colors);
