@use 'mixins';

@font-face {
    font-family: 'DevJK-Figtree-Regular';
    src: url('../static/fonts/Figtree/static/Figtree-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DevJK-Figtree-Medium';
    src: url('../static/fonts/Figtree/static/Figtree-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DevJK-Figtree-SemiBold';
    src: url('../static/fonts/Figtree/static/Figtree-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'DevJK-Figtree-Bold';
    src: url('../static/fonts/Figtree/static/Figtree-Bold.ttf') format('truetype');
}

// Font weights
.font-weight-400 {
    @include mixins.fontWeight(400);
}

.font-weight-500 {
    @include mixins.fontWeight(500);
}

.font-weight-600 {
    @include mixins.fontWeight(600);
}

.font-weight-700 {
    @include mixins.fontWeight(700);
}
