@use "sass:math";
@use "sass:string";

$default_family: '"SF Pro", Arial, Helvetica, sans-serif, "Source Sans Pro"';

@mixin fontWeight($weight) {
    @if $weight == 400 {
        font-family: DevJK-Figtree-Regular, #{$default_family};
    } @else if $weight == 500 {
        font-family: DevJK-Figtree-Medium, #{$default_family};
    } @else if $weight == 600 {
        font-family: DevJK-Figtree-SemiBold, #{$default_family};
    } @else if $weight == 700 {
        font-family: DevJK-Figtree-Bold, #{$default_family};
    }
}

@mixin looper($class, $prop, $unit, $values... ) {
    @if string.slice($class, 1, 1) == "-" {
        @each $value in $values {
            .#{$value}#{$class}{
                #{$value} : #{$prop}#{$unit}
            }
        }
        
    } @else if $class == 'border-radius' {
        @each $value in $values{
            .#{$class}-#{$value}{
                &, &[type] {
                    #{$class}: #{$value}#{$unit};
        			&:not(.overflow-auto) {
        				overflow: hidden;
        			}
                }
            }
        }
        
    } @else if string.index($class, 'border') == 1 {
        @each $value in $values {
            $unit_class: if($value == 1.5, '1-5', $value);
            .#{$class}-#{$unit_class}{
                &, &[type] {
                    #{$class}-width: #{$value}#{$unit};
                    #{$class}-style: solid;
                }
            }
        }
        
    } @else if $class == 'padding-vertical' {
        @each $value in $values{
            .#{$class}-#{$value}{
                padding-top: #{$value}#{$unit};
                padding-bottom: #{$value}#{$unit};
            }
        }
        
    } @else if $class == 'padding-horizontal' {
        @each $value in $values{
            .#{$class}-#{$value}{
                padding-left: #{$value}#{$unit};
                padding-right: #{$value}#{$unit};
            }
        }
        
    } @else if $class == 'letter-spacing' {
        @each $value in $values{
            .#{$class}-#{$value}{
                #{$class}: #{math.div($value, 100)}#{$unit};
            }
        }
        
    } @else {
        @if $prop == true {
            $prop: $class
        }
        
    	@each $value in $values {
    		.#{$class}-#{$value} {
    			#{$prop}: #{$value}#{$unit};
    		}
    	}
    }
}
