/* Disguised input field */
.text-field-flat {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: block !important;

    &,
    &:hover,
    &:active,
    &:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        background: transparent !important;
        background-color: transparent !important;
    }
}

/* Fade in effect */
.fade-in {
    opacity: 0;
    animation: crewFadeInAnimation 0.6s ease-in-out forwards 1; /* Added "1" for iteration count */
}

@keyframes crewFadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Hover effects */
@for $i from 5 through 10 {
	$downgrade: $i/10;
    .darken-on-hover--#{$i} {
        &:hover {
            filter: brightness(#{$downgrade});
        }
    }
}

.hover-underline:hover {
    text-decoration: underline;
}

/* Box shadows */
.box-shadow-thin {
    box-shadow: 0px 1px 2px 0px rgba(16, 39, 68, 0.08);
}

.box-shadow-thick {
    box-shadow: 0px 10px 20px 0px rgba(16, 39, 68, 0.1);
}
