@import './mixins';

@include looper('text-align', 'left', 'right', 'center', 'justify');
@include looper('white-space', 'normal', 'pre', 'nowrap');
@include looper('text-transform', 'uppercase', 'lowercase');
@include looper('text-overflow', 'ellipsis', 'clip');

.text-field-flat {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: block !important;

    &,
    &:hover,
    &:active,
    &:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        background: transparent !important;
        background-color: transparent !important;
    }
}
