.container {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none !important;
	flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;

    & > li {
        padding: 0;
        border-radius: 4px;
        border: 1px solid var(--devjk-color-material);
        background-color: var(--devjk-color-white);

        a {
			display: flex;
			padding: 5px 15px;
			align-items: center;
            align-items: center;
            justify-content: center;
            padding: 4px 14px;
            margin: 0;
            width: 100%;
            height: 100%;
            color: var(--devjk-color-material);
            cursor: pointer;
            user-select: none;
			box-sizing: border-box;
        }

        &.active,
        &.disabled {
            a {
                cursor: default;
            }
        }

        &.active,
        &:hover {
            &:not(.disabled) {
                background-color: var(--devjk-color-material);
                border-color: var(--devjk-color-material);

                a {
                    color: white !important;
                }
            }
        }

        &.disabled {
            background-color: transparent;
            border-color: var(--devjk-color-material-40);

			a {
				color: var(--devjk-color-material-40) !important;
			}
        }
    }
    @media (max-width: 1020px) {
        .next,
        .prev {
            span {
                display: none;
            }
        }
    }
}
